<header>
    {{!-- NavBar --}}
    <ul class="nav p-1 pl-3 fixed-top" style="background-color:#05368B;">
        <li class="nav-item px-1">
            <a class="nav-link" href="#home" style="color: white">Home</a>
        </li>
        <li class="nav-item px-2">
            <a class="nav-link" href="#profile" style="color: white">Profile</a>
        </li>
        <li class="nav-item px-2">
            <a class="nav-link" href="/about" style="color: white">About</a>
        </li>
    </ul>
    {{!-- /NavBar --}}
    <div id="home">
        <div class="main container-fluid text-center mt-4" style="color: #05386B; background-color:#8EE4AF;">
            <h1 class="py-5" style="font-size: 500%">GeeksForGeeks Profile Analyzer</h1>
        </div>
    </div>
</header>