<!DOCTYPE html>

<html>

<head>
    <title>About Me</title>
    <link rel="icon" href="./img/icon.png">
    <link rel="stylesheet" href="./css/bootstrap.css">
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body style="background-color: #5CDB95">
    {{>header}}
    {{!-- About Section--}}
    <div class="" id="about" style="background-color: #05386B; margin: auto; width:60%; margin-top:10%;">
        <div style="margin-left:4%;">
                <h1 style="color:#EDF5E1; padding-top:3%; ">Something about me: -</h1>
                <p style="color:#EDF5E1; padding-bottom: 2%">Hello!, I am Anmol Kansal. I'm currently studying in Netaji Subhash University of Technology Delhi 
                    (Batch - 2021). Apart from web development, I also love programming. I know C, C++ and Python. 
                    For web development, I use HTML, CSS, Javascript, NodeJS. You can contact me at my <a href="https://www.linkedin.com/in/anmol-kansal-b67a12148/">linkedin profile</a>.
                </p>
        </div>
    </div>
    <script src="./js/appabout.js"></script>
</body>

</html>